.text-decoration-none {
  text-decoration: none;
}

.list-style-none {
  list-style: none;
}

.navActive {
  background-color: #6e2cf4 !important;
  border-radius: 8px !important;
  padding: 10px 15px !important;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.navUnactive {
  background-color: transparent !important;
  border-radius: 8px !important;
  padding: 10px 15px !important;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.fileError-head {
  font-size: 160px !important;
  line-height: 140px !important;
}

.fileError-text {
  font-size: 38px !important;
}

.anchorBtn {
  font-size: 25px;
  background-color: #6e2cf4;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
}
